/* 
    Created on : 22.11.22, 22:11:22
    Author     : juan-pedro muerte
*/

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: lightgrey;
}

.box {
    clear: both;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.right {
    text-align: right;
}

#container {
    width: 800px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}

header {
    font-family: 'Ubuntu', sans-serif;
    background-color: darkgray;
    height: 80px;
}

header h1 {
    text-align: right;
    margin-right: 20px;
    line-height: 90px;
}

nav {
    width: 120px;
    float: left;
}

nav ul {
    margin-top: 20px;
    list-style: none;
}

nav li {
    width: 100%;
    height: 30px;
}

nav li:hover {
    background-color: black;
}

nav a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    line-height: 30px;
}

nav a:hover {
    color: whitesmoke
}

main {
    margin-left: 120px;
    background-color: white;
    min-height: 400px;
    padding: 20px;
}

main h1 {
    font-family: 'Ubuntu', sans-serif;
    text-align: right;
}

main p {
    margin-top: 10px;
    text-align: justify;
}

main img {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: darkgray;
}

td, th {
    border: 1px solid #ddd;
}

footer {
    background-color: white;
    height: 40px;
    text-align: right;
}

footer hr {
    margin-left: 140px;
    margin-right: 20px;
}

footer a {
    text-decoration: none;
    margin-right: 20px;
    line-height: 40px;
    color: black;
}

footer a:hover {
    color: cadetblue;
}